.vs
Debug
Release
SnakeRemake.sln
SnakeRemake/Debug
SnakeRemake/Release
SnakeRemake/settings.txt
SnakeRemake/Menu.cpp
SnakeRemake/Menu.h
SnakeRemake/SnakeRemake.vcxproj
SnakeRemake/SnakeRemake.vcxproj.filters
SnakeRemake/SnakeRemake.vcxproj.user